pkg■■01■■files■■cd /tmp; apt download $1 &>/dev/null; ls | grep $1 | head -n1 | xargs -I{} bash -c "dpkg -c {}; rm {}"; cd - >/dev/null■■List files for the given package
pkg■■02■■cmd■■dpkg -S $(which $1)■■Tell from which package came the given command
pkg■■03■■file■■dpkg -S $1■■Tell from which package came the given file
